{% extends "car_app/base.html" %}
{% load static %}
{% block title %}
    Help
{% endblock %}

{% block description %}
    <div>
        <h1>FAQs</h1>
        <p>Centro de ajuda</p>
        <ul>
            <li><a href="#EuropeTours">Tudo o que precisa saber sobre a compra de um carro usado</a></li>
            <li><a href="#WhyBook">O Standvirtual medeia o Contacto com os anunciantes?</a>
            <li><a href="#HowDoes">Como inspecionar um Carro Usado - Na estrada</a></li>
        </ul>
        <hr/>
        <p>Como inspecionar um Carro Usado </p>
        <ul>
            <li><a href="#search">- Interior</a></li>
            <li><a href="#coasts">- Exterior</a></li>
        </ul>

        <hr/>
        <h2 id="EuropeTours">Tudo o que precisa saber sobre a compra de um carro usado</h2>
        <p>Comprar um carro usado pode ser uma experiência intimidante.

            Por isso o Standivrtual preparou para si um local onde pode obter todas as informações úteis para o ajudar a
            comprar um carro usado.

            Veja aqui o nosso centro de ajuda ao comprador</p>
        <hr/>
        <h2 id="WhyBook">O Standvirtual medeia o Contacto com os anunciantes?</h2>
        <p>O Standvirtual é um site de Classificados especializado na área Auto. Todos os anúncios são da autoria e da
            responsabilidade dos seus anunciantes. O Standvirtual não medeia qualquer transacção/contacto entre
            compradores e vendedores. </p>

        <hr/>

        <h2 id='HowDoes'>Como inspecionar um Carro Usado - Na estrada</h2>
        <ul>
            <li>Nunca compre um carro sem o conduzir primeiro!</li>
            <li>Se o actual dono se opuser a que o conduza por causa do seguro, trate de contratar um seguro de um dia
                para
                que possa efectuar o test drive você mesmo, antes de pagar seja o que for por um carro.
            </li>
            <li> Durante a condução, a embraiagem a "patinar" pode ser fácil de descobrir, engate a marcha e acelere. O
                carro
                deverá obedecer de imediato no arranque, caso demore muito pode indicar um desgaste excessivo na
                embraiagem,
                o que normalmente significa que em breve terá de efectuar a substituição da mesma.
            </li>
            <li>Se o carro balancear muito numa estrada recta e plana, pode indicar possíveis e perigosos danos na
                suspensão. Preste também atenção ao comportamento do carro após uma travagem brusca, se desvia em
                demasiado
                para um dos lados, não é um bom indício.
            </li>
            <li>Atente a vibrações no volante. Estas podem indicar sérios problemas na direcção, e verifique também se o
                travão de mão funciona correctamente.
            </li>
        </ul>

        <hr/>
        <h2 id="search">Como inspecionar um Carro Usado - Interior</h2>
        <p>Após entrar no veículo, procure por sinais de desgaste, por exemplo, se o interior aparenta estar de acordo
            com os quilómetros anunciados?
            Ao olhar para os plásticos, volante, manete de mudanças e capas dos pedais verifique se aparentam ter um
            desgaste de acordo com 200 000 kms, e não com os 20 000 kms que o conta-quilómetros mostra. Bancos
            desgastados, rasgados ou com outros defeitos, também podem indicar uma utilização intensa do veículo.
            Tenha atenção a quaisquer danos nos cintos de segurança. Se fazem bem o retorno, têm demasiada folga ou se
            se encontram partidos?</p>
        <hr/>
        <h2 id="coasts">Como inspecionar um Carro Usado - Exterior</h2>
        <ul>Circule à volta do carro.
            <li>Averigúe se tem riscos ou amolgadelas, o estado das ópticas e restantes luzes.</li>
            <li>Verifique os pneus e jantes. Confirme se são da mesma medida e tipo, e se estão dentro das medidas
                legais.
            </li>
            <li> Durante este processo, demore o tempo que precisar e faça uma check list. Isto vai ajudá-lo a validar todos
            os detalhes que vai verificar no veículo, já que afinal é o mais importante.</li>


        </ul>
    </div>



{% endblock %}